version: '3'
services:
  discovery-service:
    build: discovery-service
    ports:
      - 8761:8761
  car-service:
    build: car-service
    ports:
      - 8090:8090
    environment:
      - JAVA_OPTS=
         -DEUREKA_SERVER=http://discovery-service:8761
    depends_on:
      - discovery-service
  api-gateway:
    build: api-gateway
    ports:
      - 8080:8080
    environment:
      - JAVA_OPTS=
         -DEUREKA_SERVER=http://discovery-service:8761
    depends_on:
      - discovery-service